form(action="http://rethinkup.us1.list-manage1.com/subscribe/post?u=030d4c52dd20dee60c5da1324&amp;id=e25d4ff048", method="post", id="mc-embedded-subscribe-form", name="mc-embedded-subscribe-form", class="validate", target="_blank", novalidate)
  div(style="position: absolute; left: -5000px;")
    input(type="text", name="b_030d4c52dd20dee60c5da1324_e25d4ff048", value="")
  input#mce-EMAIL.email(type="text", value="", name="EMAIL", required="required")
  label(for="mce-EMAIL") Email
  input.button(type="submit", value="Please Keep Me Informed", name="subscribe")
