span.social
  em If you're as excited about cloud hosted RethinkDB as we are, please share:
  div
    a.mt-facebook.mt-share-inline-bar-sm(href="https://www.facebook.com/sharer/sharer.php?u=http://rethinkup.com/?utm_source=facebook%26utm_medium=social%26utm_campaign=prealpha")
      img(src="http://mojotech-static.s3.amazonaws.com/facebook@2x.png")

    a.mt-twitter.mt-share-inline-bar-sm(href="http://twitter.com/intent/tweet?text=Rethink%20Up%20-%20Cloud%20Hosted%20RethinkDB&url=http://rethinkup.com/?utm_source=twitter%26utm_medium=social%26utm_campaign=prealpha")
      img(src="http://mojotech-static.s3.amazonaws.com/twitter@2x.png")

    a.mt-linkedin.mt-share-inline-bar-sm(href="http://www.linkedin.com/shareArticle?mini=true&url=http://rethinkup.com/?utm_source=linkedin%26utm_medium=social%26utm_campaign=prealpha&summary=Rethink%20Up%20-%20Cloud%20Hosted%20RethinkDB")
      img(src="http://mojotech-static.s3.amazonaws.com/linkedin@2x.png")
