header
  .rethink.logo
  h1 Rethink Up

section.hero
  h2 RethinkDB as a service, at your service. Coming soon.

section.signup.bleed
  include _signup

section.about
  include _about.md

footer.bleed
  .mojotech.logo
  :markdown
    Brought to you by your friends at [MojoTech](http://www.mojotech.com "MojoTech").
