@import '_settings'
@import '_social'

base()
establish-baseline('normalize')

text-selection(blue)

*,
*:before,
*:after
  margin: 0
  padding: 0
  box-sizing: border-box

html
  height: 100%
  overflow-x: hidden

body
  position: relative
  padding: 0 0 100px
  min-height: 100%
  text-align: center
  overflow: hidden

  @media screen and (max-width: 480px)
    font-size: 14px
    line-height: 1.5em
    padding: 0 0 65px

header,
section
footer
  width: 960px
  text-align: left
  padding: 0 80px
  margin: 0 auto

  @media screen and (max-width: 320px)
    padding: 0 10px

  @media screen and (max-width: 768px)
    width: 100%
    padding: 0 15px

header
  display: inline-block

h1
  font-family: droid-serif

h1, h2
  font-weight: normal
  line-height: 1.5em

h3
  font-weight: 600

a
  link()

//

header
  h1
    margin-left: -2px
    margin-bottom: 0

    @media screen and (max-width: 768px)
      margin-left: 54px

  .rethink.logo
    position:absolute
    margin-top: 38px
    margin-left: -58px
    transition-property: transform
    transition-duration: 500ms

    @media screen and (max-width: 480px)
      margin-top: 24px
      margin-left: 3px

    @media screen and (max-width: 768px) and (min-width: 481px)
      margin-top: 38px
      margin-left: 3px

  &:hover
    .rethink.logo
      transform: translate(0, -5px)

section.hero
  h2
    margin-top: 21px
    margin-bottom: 21px

section.signup
  font-size: 1.17em
  line-height: 100px
  position: relative

  input:valid + label,
  input:focus + label
    margin-left: 10px
    color: dark-grey

    @media screen and (max-width: 768px)
      display: none

  label
    position: absolute
    top: 0
    left: 0
    color grey
    margin-left: 94px
    transition-property: color
    transition-property: margin-left
    transition-duration: 200ms

    @media screen and (max-width: 768px)
      margin-left: 32px

  .email
    size: 472px 47px
    margin-right: 20px
    padding-left: 12px

    @media screen and (max-width: 768px)
      width: 100%

  .button
    size: 300px 46px
    background-color: red
    color: white

    &:hover
      background-color: light-red

    @media screen and (max-width: 768px)
      width: 100%

  @media screen and (max-width: 768px)
    line-height: 64px


section.about
  .social
    display: inline-block

    .icons, em
      float: left

    .icons
      opacity: 0.7
      margin-left: 1em

      @media screen and (max-width: 768px)
        width: 100%
        float: none
        margin: 1.5em auto
        display: inline-block

    @media screen and (max-width: 768px)
      text-align: center
      display: block

      em
        text-align: left

footer
  position: absolute
  margin: 0 auto
  left: 0
  right: 0
  bottom: 0
  line-height: 100px
  font-style: italic
  color: gray

  p
    display: inline

    @media screen and (max-width: 768px) and (min-width: 321px)
      margin-left: 60px

  .mojotech.logo
    position: absolute
    margin-top: 32px
    margin-left: -60px
    transition-property: transform
    transition-duration: 500ms

    @media screen and (max-width: 768px) and (min-width: 321px)
      margin-top: 14px
      margin-left: 2px

  &:hover
    .mojotech.logo
      transform: rotate(360deg)

  @media screen and (max-width: 768px)
    line-height: 65px

    &.bleed:before
      height: 65px

//

.rethink.logo
  size: 38 32
  background-image: url('../img/rethink-up-logo.png')
  background-size: 38px 32px

.mojotech.logo
  size: 46 40
  background-image: url('../img/mojotech-hex-logo.png')
  background-size: 46px 40px

//

.bleed:before
  @media screen and (max-width: 768px)
    height: 128px

  content: ''
  height: 100px
  width: 10000px
  background-color: light-grey
  display: block
  position: absolute
  left: -5000px
  right: 0
  z-index: -1

//

input[type="text"],
input[type="email"]
  outline: none
  border: 2px solid grey
  border-radius: 3px

input[type="button"],
input[type="submit"]
  border-radius: 3px
  outline: 0
  border: 0
  color: white
  transition-property: background-color
  transition-duration: 200ms
